html {
  position: relative;
  min-height: 100%;
  height: unset;
}
body {
  background-color: #acaaa5;
  padding-bottom: 14px;
  margin-bottom: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: grayscale;
}

#hero {
  background-color: #313c5d;
  margin-bottom: 0px;
}

#menu-bar {
  background-color: #313c5d;
  margin-top: 0;
  padding-left: 1rem;
}

#menu-bar-top {
  background-color: #313c5d;
  margin-top: 0;
  margin-bottom: -10px;
  padding-right: 1rem;
}

#searchBtn {
  margin-top: 10px;

}

h2 {
  padding-top: 1rem;
  margin: 1rem;
  text-align: center;
}

h4 {
  font-size: 1rem;
}

h3{
  color: white;
}

p {
  font-size: small;
  color: black;
}

div#to-be-watched-cards {
  padding: 1rem;
  padding-top: 2rem;
  margin: 1rem;
}

.movie-small-card {
  max-height: 60%;
  width: 100%;
}

.movie-card-small-body {
  padding: 0.2rem;
  background-color: rgb(87, 88, 89);
}

.movie-card-small-content {
  color: black;
  height: 80px;
}


.movie-card-small-title {
  font-size: large;
  font-weight: bold;
  color: whitesmoke;
  text-align: left;
  max-width: 100px;
}

.movie-card-small-avatar {
  position: absolute;
  top: 120;
  left: 0.1rem;
  border: 1px solid greenyellow;
}


.card-buttons {
  color: #657ab6;
}

.card-links {
  border-top: 1px dashed #313c5d;
}

.movie-text-card-title {
  font-weight: bold;
}

.movie-text-card-body {
  padding-left: 1rem;
  background-color: lightgrey;
}


.extra-content {
  font-size: larger;
}


.movie-card-tiny-body {
  background-color: rgb(36, 43, 50);
}

.movie-tiny-card {
  height: 60%;
}

.movie-card-tiny-body {
  padding: 0.2rem;
  background-color: rgb(87, 88, 89);
}

/* Style for movie card tiny title */
.movie-card-tiny-title {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
}

.movie-card-mini-body {
  padding-right: 0.1rem;
  background-color: rgb(87, 88, 89);
  /* font-size: 0.5rem; */
  text-align: left;
  min-height: 5rem;
}

/* Style for movie card tiny title */
.movie-card-mini-title {
  color: #ffffff;
  font-size: 0.8rem;
  padding-top: 0rem;
  margin-top: 0.1rem;
  margin-left: 0.2rem;
  text-align: left;
}

h2 {
  padding-bottom: 1rem;
  text-align: center;
}

/* Styling for movie-cards container */
.movie-cards {
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  /* max-height: 50vh; */
}

#to-be-watched {
  /* max-height: 95vh; */
  /* padding-left: 10rem; */
  background-color: #306ed8;
}

#watched{
  /* max-height: 50vh; */
  /* margin-top: 0.5rem; */
  background-color: #313c5d;
}

#watching {
  /* max-height: 50vh; */
  /* margin-top: 0.5rem; */
  background-color: #91a5cb;
}

#search-results {
  /* padding-left: 10rem; */
  background-color: #d75788;
  /* min-height: 500px; */
}

#results-loader{
  /* display: none; */
}


#now-playing {
  padding-left: 5rem;
  background-color: #d75788;
}

#movie-modal-description{
  background-color: #306ed8;
  padding-left: 5rem;
}
#schedule-modal {
  max-height: 700px;
}

#trailer-modal {
  max-height: 500px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color:#ffffff;
  background-color: #d75788;
  margin-top: 0;
  margin-bottom: 0;
}


@media (max-width: 819px) {

  /* Call reset.css to remove all previous styling */
  /* Removing all padding and margins for small screen size optimization */
  * {
    padding: 0.0rem;
    margin: 0.0rem;
  }

  h1.ui.inverted.header {
    margin-top: 0px;
  }

  h2{
    font-size: x-large;
    margin-bottom: 0px;
    /* writing-mode: vertical-rl;
    text-orientation: upright; */
  }

  h3{
    font-size: larger;
  }

  h4{
    font-size: larger;
  }


  p{
    /* font-size: larger; */
  }

  .sixteen.wide.mobile.eight.wide.tablet.eight.wide.computer.column {
    padding-bottom: 0px;
    padding-top: 0px; 
  }


  #hero {
    /* background-color: #306ed8; */
    /* padding-left: 5rem; */
    margin:0;
    padding:0;
    margin-right: -10px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    /* padding: 0.5rem; */
    /* margin: 0.5rem; */
  }

  header {
    font-size: larger;
  }


  div#now-playing-cards {
    padding-left: 1px;
    padding-right: 1px;
}

  
  #menu-bar-top {
    /* margin-left: 1rem; */
    margin-bottom:0;
    margin-right: -10px;

  }

  #menu-bar {
    /* margin-left: 1rem; */
    /* margin-bottom:0; */
    margin-right: -10px;
  }
  div#to-be-watched-cards {
    /* padding: 0;
    padding-top: 0;
    margin: 0; */
    /* padding-left: 20px; */
  }

  #search-results {
    /* padding-left: 4rem; */
    /* margin: 10px; */
  }

  #to-be-watched-cards {
    /* max-height: 50vh; */
    padding-left: 0.5rem;
  }

  #to-be-watched{
    /* max-height: 50vh; */
    /* padding-left: 4rem; */
  }


  #now-playing {
    padding-left: 0rem;
    /* background-color: #d75788; */
  }

  div#now-playing {
    /* padding: 0px; */
  }

  #movie-modal-description{
    padding-left: 1rem;
  }

  #ui-grid {
    padding-left: 1rem;
  }

  footer{
    /* display: none; */
    height: 90px;
  }

}